.col-sm-2 {
   color: #0f4c75;
}
h1 {
    color: #0f4c75;
}
a:hover {
    background-color: #ddd;
    color: black;
}
.H {
    position: fixed;
    left: 50%;
    bottom: 10%
}
.img {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}




 