@model CVHub.Models.CvDelete

<div class="container">

    <h3 class="text-center mt-4 mb-0">CV - @Model.Title</h3>
    <div class="row templates" style="margin:3% auto 0 auto;">

        <div class="col">
            <img src="~/css/template/img/cvimg.svg" style="width:70%" title="Minimalist" alt="Minimalist" />
        </div>
    </div>
    <div class="m-5 text-center">
        <h3 class="text-danger">Are you sure that you want to delete this CV?</h3>
        <form asp-action="Delete" asp-route-id="@Model.CvId" method="post">
            <button type="submit" class="btn btn-primary m-3" style="border:none;">Yes</button>
        </form>
        <a class="btn btn-danger m-3" style="border:none;" asp-action="CvList">No</a>
    </div>
    <hr>

</div>