.login_wrapper {
    float: left;
    width: 100%;
    background: #fff;
}

    .login_wrapper a.btn {
        color: #fff;
        width: 100%;
        height: 50px;
        padding: 6px 25px;
        line-height: 36px;
        margin-bottom: 20px;
        text-align: left;
        border-radius: 5px;
        background: #4385f5;
        font-size: 16px;
    }

    .login_wrapper a i {
        float: right;
        margin: 0;
        line-height: 35px
    }

    .login_wrapper a.google-plus {
        background: #db4c3e;
        border: 1px solid #db4c3e
    }

    .login_wrapper h2 {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 20px;
        color: #111;
        line-height: 20px;
        text-transform: uppercase;
        text-align: center;
        position: relative
    }

.login_wrapper .formsix-pos,
.formsix-e {
    position: relative
}

.form-group {
    margin-bottom: 15px
}


.login_btn_wrapper {
    padding-bottom: 20px;
    margin-bottom: 30px;
}

    .login_btn_wrapper a.login_btn {
        text-align: center;
        text-transform: uppercase
    }

.login_message p {
    text-align: center;
    font-size: 16px;
    margin: 0
}

p {
    color: #999999;
    font-size: 14px;
    line-height: 24px
}

.login_wrapper a.login_btn:hover {
    background-color: #2c6ad4;
    border-color: #2c6ad4
}

.login_wrapper a.btn:hover {
    background-color: #2c6ad4;
    border-color: #2c6ad4
}

.login_wrapper a.google-plus:hover {
    background: #bd4033;
    border-color: #bd4033
}
