:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}

.card-signin {
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

    .card-signin .card-title {
        margin-bottom: 2rem;
        font-weight: 300;
        font-size: 1.5rem;
    }

    .card-signin .card-body {
        padding: 2rem !important;
    }

.form-signin {
    width: 100%;
}

    .form-signin .btn {
        font-size: 80%;
        border-radius: 5rem;
        letter-spacing: .1rem;
        font-weight: bold;
        padding: 1rem;
        transition: all 0.2s;
    }

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

    .form-label-group input {
        height: auto;
        border-radius: 2rem;
    }

    .form-label-group > input,
    .form-label-group > label {
        padding: var(--input-padding-y) var(--input-padding-x);
    }

    .form-label-group > label {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        margin-bottom: 0;
        line-height: 1.5;
        color: #495057;
        border: 1px solid transparent;
        border-radius: .25rem;
        transition: all .1s ease-in-out;
    }

    .form-label-group input::-webkit-input-placeholder {
        color: transparent;
    }

    .form-label-group input:-ms-input-placeholder {
        color: transparent;
    }

    .form-label-group input::-moz-placeholder {
        color: transparent;
    }





@supports (-ms-ime-align: auto) {
    .form-label-group > label {
        display: none;
    }

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        .form-label-group > label {
            display: none;
        }

        .form-label-group input:-ms-input-placeholder {
            color: #777;
        }
    }
}


/*Rebecca*/

/*creates a margin around the logo*/
.col.mx-auto.text-center{
    margin:4% auto 8% auto;
}

/*creates a margin between the form and header/footer*/
.container-fluid{
margin: 4% auto 4% auto;
}

/*changes color of sign in button*/
.btn-primary {
    background-color: #98c0d9;
    border-color: #98c0d9;
    color: white;
}

    .btn-primary:hover {
        background-color: #74a1b7;
        border-color: #74a1b7;
        color: white;
    }

    /*changes color of register button*/
.btn-success {
    border-color: #b3d89a;
    background-color: #b3d89a;
    color: white;
}

    .btn-success:hover {
        border-color: #95ba78;
        background-color: #95ba78;
        color: white;
    }

