@model CVHub.Models.User

<head>
    <link rel="stylesheet" href="~/css/Register.css" />
</head>

<div class="registration-form">
    <form method="post" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="text-center mb-5">
            <span><img src="~/Pic/Favicon.png" alt="CV" class="w-auto h-auto"></span>
        </div>
        <div class="form-group">
            <input asp-for="FirstName" type="text" class="form-control item" id="firstname" placeholder="First Name">
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="LastName" type="text" class="form-control item" id="lastname" placeholder="Last Name">
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Country" type="text" class="form-control item" id="country" placeholder="Country">
            <span asp-validation-for="Country" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="State" type="text" class="form-control item" id="state" placeholder="State">
            <span asp-validation-for="State" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="City" type="text" class="form-control item" id="city" placeholder="City">
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="LinkedIn" type="text" class="form-control item" id="LinkedIn" placeholder="LinkedIn">
            <span asp-validation-for="LinkedIn" class="text-danger"></span>
        </div>
        @if (Model != null)
        {
            <div class="text-center text-danger">@Model.Email is already taken!</div>
        }
        <div class="form-group">
            <input asp-for="Email" type="text" class="form-control item" id="email" placeholder="Email">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="PhoneNumber" type="text" class="form-control item" id="phone-number" placeholder="Phone Number">
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Password" type="password" class="form-control item" id="password" placeholder="Password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-block create-account" value="Create Account">
        </div>
    </form>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
