@model CVHub.Models.LoginUser

<head>
    <link rel="stylesheet" href="~/css/socialMedia.css" />
</head>

<div class="container-fluid float-left col-4">
    <div class="row">
        <div class="col-12 p-sm-2 p-md-2 p-lg-5 p-xl-5">
            <div class="card-signin">
                <div class="card-body">
                    <img class="col mx-auto text-center" src="~/Pic/cvlogo.svg" alt="CV" style="max-height:100px;">
                    <h5 class="card-title text-center">Sign In</h5>
                    <form method="post" asp-controller="Validation" asp-action="DbAuthenticate" class="form-signin">
                        <div class="form-label-group">
                            <input asp-for="Email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                            
                        </div>
                        <div class="form-label-group">
                            <input asp-for="Password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                            
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                        <a asp-controller="User" asp-action="Register" class="btn btn-lg btn-success btn-block text-uppercase">Register</a>
                        <hr class="my-4">
                        @*<a asp-action="GoogleSignIn" class="btn btn-lg btn-google btn-block text-uppercase"><i class="fab fa-google mr-2"></i> Sign in with Google</a>*@
                        <a asp-controller="Validation" asp-action="FacebookSignIn" ><i class="fab fa-facebook-f mr-2"></i> <img class="col mx-auto text-center" src="~/Pic/facebook-logo.svg" title="Sign in with Facebook" style="max-height:50px;"></a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="float-right col-sm-8 col-md-8 col-lg-8 col-xl-8 mb-2 pb-5">
    <img src="~/Pic/frontpageCvHub.png" class="frontpage-pic col-12"/>
</div>